###################################
# sharethis
###################################

ShareThisSTE:
  #true by default
  use_font_awesome: false
  use_bw_effect: 1
  included_icons:
    - facebook
    - google
    - linkedin
  excluded_icons:
    - myspace
  always_include_in:
    - BlogPost
  never_include_in:
    - HomePage

SocialNetworksSTE
  #true by default
  use_font_awesome: false
  always_include_in:
    - BlogPost
  never_include_in:
    - HomePage

MyTwitter:
  debug: false
  favourites_only: false
  non_replies_only: false
  twitter_consumer_key: ""
  twitter_consumer_secret: ""
  titter_oauth_token: ""
  titter_oauth_token_secret: ""
  twitter_config:
    - include_entities: true
    - include_rts: true

ShareThisDataObject:
  permission_framework:
    SOCIAL_MEDIA:
      name: "Social Media Management",
      category: "Social Media"
      help: "Edit relationships, links and data of various social media platforms"
      sort: 0

SilverstripeFacebookConnector:
  app_id: ""
  app_secret: ""


###################################
###################################
